<!DOCTYPE html>
{%extends 'base.html'%}
{%block child_block%}

<div class="container"align="center">
    <h1>Update Your Information</h1>
    <form method="POST">
        {%csrf_token%}
        Id:<input type="text" name= 'No' value="{{client.No}}"><br>
        Name:<input type="text" name= 'Name' value="{{client.Name}}"><br>
        Father_name:<input type="text" name= 'Father_name' value="{{client.Father_name}}"><br>
        Mother_name:<input type="text" name= 'Mother_name' value="{{client.Mother_name}}"><br>
        Address:<input type="text" name= 'Address' value="{{client.Address}}"><br>
        Contact:<input type="text" name= 'Contact' value="{{client.Contact}}"><br>
        <input type="Submit" value="Update Record" name=''>


    </form>
</div>
{%endblock%}